<table class="table table-striped table-hover table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.name'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.status'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.expires_at'|trans({}, 'EkynaUi') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for subscription in subscriptions -%}
        <tr>
            <td>
                <a href="{{ admin_resource_path(subscription) }}">
                    {{ subscription }}
                </a>
            </td>
            <td>{{ subscription|subscription_state_badge }}</td>
            <td>
                {% if subscription.expiresAt is not null -%}
                    {{ subscription.expiresAt|format_date }}
                {%- endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-left:50px">
                <table class="table table-striped table-condensed table-hover table-alt-head">
                    <thead>
                    <tr>
                        <th>{{ 'order.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                        <th>{{ 'field.start_date'|trans({}, 'EkynaUi') }}</th>
                        <th>{{ 'field.end_date'|trans({}, 'EkynaUi') }}</th>
                        <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                        <th>{{ 'renewal.field.paid'|trans({}, 'EkynaSubscription') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for renewal in subscription.renewals -%}
                        <tr>
                            <td>
                                <a href="{{ admin_resource_path(renewal.order) }}"
                                   data-side-detail="{{ admin_resource_path(renewal.order, 'Ekyna\\Bundle\\AdminBundle\\Action\\SummaryAction') }}">
                                    {{ renewal.order.number }}
                                </a>
                            </td>
                            <td>{{ renewal.startsAt|format_date }}</td>
                            <td>{{ renewal.endsAt|format_date }}</td>
                            <td>{{ renewal.count }}</td>
                            <td>
                                {% if renewal.isPaid -%}
                                    <span class="label label-success">{{ 'value.yes'|trans({}, 'EkynaUi') }}</span>
                                {%- else -%}
                                    <span class="label label-danger">{{ 'value.no'|trans({}, 'EkynaUi') }}</span>
                                {%- endif %}
                            </td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {%- endfor %}
    </tbody>
</table>
