{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block actions %}
    {{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\AdminBundle\\Action\\ListAction') }}
{% endblock %}

{% block main_actions -%}
    {{- admin_resource_btn(resource, 'Ekyna\\Bundle\\SubscriptionBundle\\Action\\Subscription\\CancelAction') -}}
    {{ parent() }}
{%- endblock main_actions %}

{% block main_tabs -%}
    {{ parent() }}
    <li>
        <a href="#{{ resource_name }}-graph" id="toggle-graph" data-toggle="tab">
            Graph
        </a>
    </li>
    <li>
        <a href="#{{ resource_name }}-notifications" id="toggle-notifications" data-toggle="tab">
            {{ 'notification.label.plural'|trans({}, 'EkynaSubscription') }}
        </a>
    </li>
{% endblock main_tabs -%}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ show_row(subscription.plan, 'resource') }}
        {{ show_row(subscription.customer, 'resource') }}
        <div class="row">
            <div class="col-md-6">
                {{ show_row(subscription|subscription_state_badge, 'text', {
                    'label': 'field.status'|trans({}, 'EkynaUi'),
                    'label_col': 4
                }) }}
            </div>
            <div class="col-md-6">
                {{- show_row(subscription.autoNotify, 'boolean', {
                    'label': 'sale.field.auto_notify',
                    'label_trans_domain': 'EkynaCommerce',
                    'label_col': 4,
                    'toggle_path': admin_resource_path(subscription, 'admin_toggle', {property: 'autoNotify'})
                }) -}}
            </div>
        </div>
        {{ show_row(subscription.description, 'textarea', {
            'label': 'field.description'|trans({}, 'EkynaCommerce')
        }) }}
    </div>
    <div class="tab-pane" id="{{ resource_name }}-graph">
        {{ subscription_graph([subscription]) }}
    </div>
    <div class="tab-pane" id="{{ resource_name }}-notifications">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>{{ 'field.title'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'reminder.field.days'|trans({}, 'EkynaSubscription') }}</th>
                <th>{{ 'field.notified_at'|trans({}, 'EkynaUi') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for notification in find_subscription_notifications(subscription) -%}
                <tr>
                    <td>
                        {{- notification.reminder.title -}}
                    </td>
                    <td>
                        {{- notification.reminder.days -}}
                    </td>
                    <td>
                        <span class="fa fa-check text-success"></span>
                        {{- notification.notifiedAt|format_date -}}
                    </td>
                </tr>
            {%- else -%}
                <tr>
                    <td colspan="3" style="text-align:center">
                        <em>{{ 'notification.message.none'|trans({}, 'EkynaSubscription') }}</em>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
{%- endblock main_contents %}

{% block post_main -%}
    <div class="sub-header">
        <h2>{{ 'renewal.header.list'|trans({}, 'EkynaSubscription')|raw }}</h2>
    </div>
    <div class="actions">
        {{ admin_resource_btn('ekyna_subscription.renewal', 'Ekyna\\Bundle\\SubscriptionBundle\\Action\\Renewal\\CreateAction') }}
    </div>
    {{ ekyna_table_render(admin_resource_table('ekyna_subscription.renewal', {
        'source': subscription.renewals.toArray()
    })) }}
{%- endblock post_main %}
