{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_subscription.pricing.header.show'|trans({'%name%': pricing})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(pricing, 'list') }}
{{ admin_resource_btn(pricing, 'new') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(pricing, 'edit') }}
    {{ admin_resource_btn(pricing, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#subscription-pricing-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="subscription-pricing-general">
                {{ show_row(pricing.year, 'text', 'ekyna_subscription.pricing.field.year') }}

                <div class="row show-row">
                    <div class="col-md-2 show-label">
                        {{ 'ekyna_subscription.pricing.field.prices'|trans }}
                    </div>
                    <div class="col-md-10">
                        <div class="show-widget">
                            <table class="table">
                                <tr>
                                    <th>{{ 'ekyna_subscription.price.field.name'|trans }}</th>
                                    <th>{{ 'ekyna_subscription.price.field.amount'|trans }}</th>
                                </tr>
                                {% for price in pricing.prices %}
                                    <tr>
                                        <td>{{ price|trans|raw }}</td>
                                        <td>{{ price.amount|localizednumber }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-header">
    <h2>{{ 'ekyna_subscription.subscription.header.list'|trans({'%year%': pricing.year})|raw }}</h2>
</div>
<table class="table table-striped">
    <tr>
        <th>{{ 'ekyna_user.user.label.singular'|trans }}</th>
        <th>{{ 'ekyna_subscription.pricing.field.year'|trans }}</th>
        <th>{{ 'ekyna_subscription.price.field.amount'|trans }}</th>
        <th>{{ 'ekyna_core.field.status'|trans }}</th>
        <th></th>
    </tr>
    {% for subscription in subscriptions %}
        <tr>
            <td>
                <a href="{{ path('ekyna_user_user_admin_show', {'userId': subscription.user.id}) }}">
                    {{ subscription.user.lastName ~ ' ' ~ subscription.user.firstName ~ ' (' ~ subscription.user.email ~ ')' }}
                </a>
            </td>
            <td>{{ subscription.price.pricing.year }}</td>
            <td>{{ ((subscription.price.amount|localizednumber()) ~ '&nbsp;€')|raw }}</td>
            <td>{{ render_subscription_state(subscription) }}</td>
            <td>
                {% if sm_can(subscription, 'exempt') %}
                    <a href="{{ path('ekyna_subscription_pricing_admin_subscription_toggle_exempt', {'pricingId': pricing.id, 'subscriptionId': subscription.id}) }}"
                       onclick="return confirm('{{ 'ekyna_subscription.subscription.confirm.exempt.short'|trans }}')"
                       class="btn btn-xs btn-primary">
                        {{ 'ekyna_subscription.subscription.button.exempt'|trans }}
                    </a>
                {% elseif sm_can(subscription, 'unexempt') %}
                    <a href="{{ path('ekyna_subscription_pricing_admin_subscription_toggle_exempt', {'pricingId': pricing.id, 'subscriptionId': subscription.id}) }}"
                       onclick="return confirm('{{ 'ekyna_subscription.subscription.confirm.unexempt.short'|trans }}')"
                       class="btn btn-xs btn-primary">
                        {{ 'ekyna_subscription.subscription.button.unexempt'|trans }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" style="text-align: center;">
                <em class="alert alert-info" style="padding: 0 10px 0 10px;">
                    {{ 'ekyna_subscription.account.alert.no_subscription'|trans }}
                </em>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}