{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block actions %}{% endblock %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ show_row(reminder.plan, 'resource') }}
        {{ show_row(reminder.title, 'text', {
            'label': t('field.title', {}, 'EkynaUi')
        }) }}
        {{ show_row(reminder.days, 'number', {
            'label': t('reminder.field.days', {}, 'EkynaSubscription')
        }) }}
        {{ show_row(reminder.from, 'text', {
            'label': t('email.from', {}, 'EkynaUi')
        }) }}
        {{ show_row(reminder.replyTo, 'text', {
            'label': t('email.reply_to', {}, 'EkynaUi')
        }) }}
        {{ show_row(reminder.translations, 'translations', {
            'id': 'product_translations',
            'fields': {
                'title': {'label': t('field.title', [], 'EkynaUi')},
                'content': {
                    'label': t('field.content', [], 'EkynaUi'),
                    'type': 'tinymce',
                    'property_path': null,
                    'options': {
                        'height': 150,
                        'field' : 'content'
                    }
                }
            }
        }) }}
    </div>
{%- endblock main_contents %}
