{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ form_row(form.designation) }}
        {{ form_row(form.product) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.initialDuration, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.renewalDuration, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.forwardPlan) }}
    </div>
{%- endblock main_contents %}
