{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ show_row(plan.designation, 'text', {
            'label': t('field.designation', {}, 'EkynaUi'),
        }) }}
        {{ show_row(plan.product, 'resource') }}
        <div class="row">
            <div class="col-md-6">
                {{ show_row(plan.initialDuration, 'number', {
                    'label': t('plan.field.initial_duration', {}, 'EkynaSubscription'),
                    'label_col': 4
                }) }}
            </div>
            <div class="col-md-6">
                {{ show_row(plan.renewalDuration, 'number', {
                    'label': t('plan.field.renewal_duration', {}, 'EkynaSubscription'),
                    'label_col': 4
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ show_row(plan.renewalDate, 'text', {
                    'label': t('plan.field.renewal_date', {}, 'EkynaSubscription'),
                    'label_col': 4
                }) }}
            </div>
        </div>
        {{ show_row(plan.forwardPlan, 'resource', {
            'label': t('plan.field.forward_plan', {}, 'EkynaSubscription'),
            'resource': 'ekyna_subscription.plan'
        }) }}
    </div>
{%- endblock main_contents %}

{% block post_main -%}
    <div class="sub-header">
        <h2>{{ 'reminder.header.list'|trans({}, 'EkynaSubscription')|raw }}</h2>
    </div>
    <div class="actions">
        {{ admin_resource_btn('ekyna_subscription.reminder', 'Ekyna\\Bundle\\AdminBundle\\Action\\CreateAction') }}
    </div>
    {{ ekyna_table_render(admin_resource_table('ekyna_subscription.reminder', {
        'source': plan.reminders.toArray()
    })) }}
{%- endblock post_main %}
