{% extends "EkynaUserBundle::layout.html.twig" %}

{% block account %}
{% spaceless %}
<h3>{{ 'ekyna_subscription.account.subscription.title'|trans }}</h3>
<hr>
<table class="table table-striped">
    <tr>
        <th>{{ 'ekyna_subscription.pricing.field.year'|trans }}</th>
        <th>{{ 'ekyna_subscription.price.field.amount'|trans }}</th>
        <th>{{ 'ekyna_core.field.status'|trans }}</th>
    </tr>
    {% for subscription in subscriptions %}
    <tr>
        <td>{{ subscription.price.pricing.year }}</td>
        <td>{{ ((subscription.price.amount|localizednumber()) ~ '&nbsp;€')|raw }}</td>
        <td>{{ subscription|subscription_state_badge|raw }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3" style="text-align: center;">
            <em class="alert alert-info">
                {{ 'ekyna_subscription.account.alert.no_subscription'|trans }}
            </em>
        </td>
    </tr>
    {% endfor %}
</table>

{% if display_payment_button %}
<p style="text-align: center;">
    <a href="{{ path('ekyna_subscription_account_payment') }}" class="btn btn-primary">
        {{ 'ekyna_subscription.account.subscription.button.payment'|trans }}
    </a>
</p>
{% endif %}

{% endspaceless %}
{% endblock account %}
