<h3>{{ 'ekyna_subscription.subscription.label.plural'|trans }}</h3>
<hr>
<table class="table table-striped">
    <tr>
        <th>{{ 'ekyna_subscription.pricing.field.year'|trans }}</th>
        <th>{{ 'ekyna_subscription.price.field.amount'|trans }}</th>
        <th>{{ 'ekyna_core.field.status'|trans }}</th>
        <th></th>
    </tr>
    {% for subscription in subscriptions %}
    <tr>
        <td>{{ subscription.price.pricing.year }}</td>
        <td>{{ ((subscription.price.amount|localizednumber()) ~ '&nbsp;€')|raw }}</td>
        <td>{{ render_subscription_state(subscription) }}</td>
        <td>
            {% if sm_can(subscription, 'exempt') %}
            <a href="{{ path('ekyna_user_user_admin_subscription_exempt', {'userId': user.id, 'subscriptionId': subscription.id}) }}"
               class="btn btn-xs btn-primary">
                {{ 'ekyna_subscription.subscription.button.exempt'|trans }}
            </a>
            {% elseif sm_can(subscription, 'unexempt') %}
            <a href="{{ path('ekyna_user_user_admin_subscription_unexempt', {'userId': user.id, 'subscriptionId': subscription.id}) }}"
               class="btn btn-xs btn-primary">
                {{ 'ekyna_subscription.subscription.button.unexempt'|trans }}
            </a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3" style="text-align: center;">
            <em class="alert alert-info" style="padding: 0 10px 0 10px;">
                {{ 'ekyna_subscription.account.alert.no_subscription'|trans }}
            </em>
        </td>
    </tr>
    {% endfor %}
</table>

{% if create_order %}
<p style="text-align: center; margin-bottom: 20px;">
    <a href="{{ path('ekyna_user_user_admin_subscription_create_order', {'userId': user.id}) }}" class="btn btn-primary">
        {{ 'ekyna_subscription.subscription.button.create_order'|trans }}
    </a>
</p>
{% endif %}
